#ads
  :javascript
    google_ad_client = "pub-2758710432338755";
    /* hometi.me footer link ads */
    google_ad_slot = "1548450135";
    google_ad_width = 728;
    google_ad_height = 15;
  
  %script{:type => 'text/javascript', :src => 'http://pagead2.googlesyndication.com/pagead/show_ads.js'}
